.location {
  background-color: #062226;
  box-shadow: 1px 1px 1px #000;
  padding: 1em 1.5em 1.5em;
  margin-bottom: 4em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
}

.location__name {
  text-align: center;
  margin-bottom: 0.5em;
  color: rgb(113,167, 33);
}
.location__list {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.location__item {
  display: grid;
  gap: 0.3em;
  text-align: center;
  font-weight: 300;
  color: #aaa;
}

.location__label{
    font-weight: 600;
    color: #fff;
}